<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'All Users', users_path %></li>
    <li class="is-active"><a href="#" aria-current="page"><%= @user.username.capitalize %></a></li>
  </ul>
</nav>

<%= render 'shared/flash' %>

<h1 class="title">User Details</h1>

<h4>
  Username: <%= @user.username %>
</h4>

<p>
  Experience: <%= @user.experience %>
</p>

<p>
  Credits Remaining: <%= @user.credits %>
</p>

<p>
  Administrator? <%= @user.admin %>
</p>