<!DOCTYPE html>
<html>
  <head>
    <title>RailsFullAppV1</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_path %>">
          <%= image_tag('blog-logo-white.png', size: '28x28', alt: 'Full App Home') %>
        </a>

        <div class="navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <%= link_to 'Home', root_path, class: "navbar-item #{'is-active' if current_path.nil?}" %>
          <%= link_to 'About', about_path, class: "navbar-item #{'is-active' if current_path == 'about'}" %>
          <%= link_to 'Contact', contact_path, class: "navbar-item #{'is-active' if current_path == 'contact'}" %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if current_user %>
                <p class="control">
                  <%= link_to "Log Out", signout_path, method: :delete, class: 'button is-info' %>
                </p>
              <% else %>
                <p class="control">
                  <a href="<%= new_user_path %>" class="button is-info">
                    <span>Sign Up</span>
                  </a>
                </p>
                <p class="control">
                  <a href="<%= signin_path %>" class="button is-info">
                    <span>Sign In</span>
                  </a>
                </p>              
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
